.card1 {
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: 'Ranchers', cursive;
    font-size: 35px;



}
.style1{
    height: 400px;
    max-width: 450px;
    margin-left: 700px;
}